@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Oswald;
}

h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 25px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  height: 95%;
  overflow-y: hidden;
  overflow-y: scroll;
}

.desktop-header .red,
.mobile-header .red {
  color: red;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  width: 15%;
  position: sticky;
  top: 0;
}

.desktop-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.desktop-header img {
  width: 100%;
}

.desktop-header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.desktop-header nav a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin: 20px 0;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid white;
  padding-top: 20px;
}

.desktop-header a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}

.desktop-header a:hover {
  color: red;
}

.desktop-header p {
  color: white;
  margin-bottom: 15px;
}

.mobile-header {
  display: none;
}

/* SIGNUP - LOGIN */

.login-form,
.register-form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form form,
.register-form form {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form input,
.register-form form input {
  margin: 10px 0;
  width: 20%;
  height: 35px;
  padding: 10px;
  outline: none;
}

.login-form form button,
.register-form form button {
  margin: 15px 0;
  width: 20%;
  height: 35px;
  outline: none;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.login-form form p,
.register-form form p {
  color: white;
  margin-bottom: 20px;
}
.login-form form p a,
.register-form form p a {
  color: white;
}

/* MAIN */

main {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > p {
  color: white;
  margin: 20px 0 8px 0;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  width: 90%;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search span {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.search input {
  height: 30px;
  width: 30%;
  outline-style: solid;
  outline-width: 2px;
  outline-color: red;
}

.pagination {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination span {
  color: white;
  margin: 0 15px;
}

.pagination-button {
  width: 15%;
}

.pagination button {
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
  height: 25px;
  border-radius: 5px;
  font-weight: bold;
}

.card-list {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.no-result {
  display: flex;
  width: 100%;
  justify-content: center;
}

.no-result p {
  color: white;
  font-size: 45px;
  margin-top: 50px;
}

.card,
.card-comics {
  width: calc((100% - 30px) / 4);
  height: 150px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.card-comics {
  height: 240px;
}

.card a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 100%;
}

.card-comics > div {
  display: flex;
  text-decoration: none;
  color: black;
  width: 100%;
}

.card-img {
  width: 140px;
  height: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.black-icon,
.red-icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.red-icon {
  color: red;
}

.black-icon {
  color: black;
}

.black-icon:hover {
  color: red;
}
.red-icon:hover {
  color: black;
}

.card-infos {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.card-infos h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-infos p {
  font-size: 15px;
  line-height: 16px;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-infos p::-webkit-scrollbar {
  display: none;
}

/* CHARACTER PAGE */

.character-page {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: flex-start;
}

.character-page-img {
  width: 35%;
}

.character-page img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.character-infos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 60%;
  color: white;
}

.character-infos p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 25px;
}

.character-comics-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.character-comics-card {
  width: 120px;
}

.character-comics-card img {
  width: 100%;
}

/* FAVORITES PAGE */

.favorites {
  color: white;
  padding: 25px;
  width: 100%;
}

.favorites h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.favorites-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.favorites-link {
  width: 200px;
  margin-bottom: 20px;
}

.favorites-link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.favorites-link a > p:first-child {
  color: white;
  margin-bottom: 10px;
}

.favorites-link img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.favorites-link-comics img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
}

.remove {
  position: relative;
  color: black;
  background-color: white;
  height: 25px;
  opacity: 0.8;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* FOOTER */

footer {
  height: 5%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1380px) {
  .card,
  .card-comics {
    width: calc((100% - 20px) / 3);
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  header {
    flex-direction: row;
    width: 100%;
  }

  .desktop-header {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }

  .desktop-header img {
    width: 200px;
  }

  .desktop-header a {
    margin-bottom: 0;
    margin-top: 0;
  }

  .desktop-header p {
    margin-bottom: 0;
  }

  .desktop-header nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 15px;
  }

  .desktop-header nav a {
    margin: 0 15px;
  }

  .register {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: none;
    padding: 0;
    margin: 0;
  }

  .register p {
    margin-right: 10px;
  }

  main {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .card,
  .card-comics {
    width: calc((100% - 10px) / 2);
  }

  .pagination {
    width: 100%;
  }

  .pagination button {
    width: 150px;
  }
}

@media (max-width: 980px) {
  .desktop-header {
    display: none;
  }
  main {
    margin-top: 80px;
  }
  .mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
  }

  .mobile-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 15px 30px 15px 20px;
  }

  .mobile-header a {
    width: 20%;
  }

  .mobile-header img {
    width: 100%;
  }

  .mobile-header svg {
    color: white;
    font-size: 25px;
    cursor: pointer;
  }

  .mobile-menu {
    height: 100vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
  }

  .nav-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav-mobile a {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 15px 0;
  }

  .register-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    color: white;
  }

  .register-mobile p {
    font-size: 18px;
  }

  .register-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }

  .register-form form input,
  .login-form form input,
  .register-form form button,
  .login-form form button {
    width: 60%;
  }

  .black-icon,
  .red-icon {
    font-size: 26px;
  }
}

@media (max-width: 640px) {
  .card,
  .card-comics {
    width: 100%;
  }

  .search {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .search span {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .search input {
    width: 80%;
  }

  .character-page {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .character-page h1 {
    margin-top: 15px;
    font-size: 35px;
  }

  .character-page p {
    font-size: 20px;
  }

  .character-page-img {
    width: 100%;
  }

  .character-infos {
    width: 100%;
  }
}
